{% extends 'base.html' %}
{% load static %}
{% block title %}StudentDashBoard{% endblock title %}
{% block body %}

    <div class="card transictions">
        <div class="card-body">

            <h4 class="card-title">Your Recent Attendence</h4>


            <form class="form" action="/student/dashboard/{{ subID }}" method="post">
                {% csrf_token %}
                <label>Start Date : </label>
                <input type="date" name="startdate"/>
                <label>End Date : </label>
                <input type="date" name="enddate"/>
                <button class="btn btn-primary " id="filter" type="submit">Filter</button>
            </form>


            <div class="table-responsive" style="height : 60vh;overflow-y:scroll">

                <table class="table" name="table">
                    <thead>
                    <tr>
                        <th>Date</th>

                        <th>Subject Name</th>


                    </tr>
                    </thead>
                    <tbody>

                    {% for data in attendence %}
                        <tr>
                            <td>{{ data.date.date }}</td>

                            <td>{{ data.subjectname }}</td>


                        </tr>
                    {% endfor %}

                    </tbody>

                </table>

            </div>

        </div>


        <h5 class="total">Total Classes: {{ attendence | length }}</h5>

    </div>
{% endblock body %}